/*=============================================
=            Site Colors            =
=============================================*/
//181818
//general
$primary-color: #257aa6; // primary color for buttons
$success-color: #52c41a; // success state color
$warning-color: #faad14; // warning state color
$error-color: #f5222d; // error state color

// text color
$body-color: #fff; // body text color
$link-color: #1890ff; // link color
$text-color: #eee; // body text color
$dark: #1d1f22;

// buttons
$primary-hover-color: #0c68e0;
$secondary-hover-color: #0c68e0;

// bg
$bg-primary: #f3f7f7; //bg color

$bg: #f3f7f7;
// $bg: #1d1f22;
//$bg: #f84443;
$primary: #709fdc;
$base: #071739;
$shadow-color: #274684;
$lighter-shadow: rgba($shadow-color, 0.3);
$white: #fff;
$gray: #8c8c8c;
$dark: #282c34;
$lighter-gray: #f1f1f1;
$transition: 0.3s all ease;
$link: #61dafb;
$dark-blue: #274684;
$light: #000;
$yellow: #fff8e9;
$black: #000;
